HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### videos ###
**/src/main/resources/static/videos/**/**

### movieMain ###
**/src/main/resources/static/images/movieMain/**/**.jpg
**/src/main/resources/static/images/movieMain/**/**.jpeg
**/src/main/resources/static/images/movieMain/**/**.png

### movieTop ###
**/src/main/resources/static/images/movieTop/**/**.jpg
**/src/main/resources/static/images/movieTop/**/**.jpeg
**/src/main/resources/static/images/movieTop/**/**.png

### profile ###
**/src/main/resources/static/images/profile/**/**.jpg
**/src/main/resources/static/images/profile/**/**.jpeg
**/src/main/resources/static/images/profile/**/**.png

### temp ###
**/src/main/resources/static/images/temp/**/**


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
