@charset "UTF-8";

/* GOLD 영역 */
#GOLD_section1 {
 	width: 1000px;
	height: 1650px;
	margin: 0 auto;
	text-align: center;
}
#GOLD_section1 > h2 {
	font-family: 'Poppins';
	font-size: 40px;
	letter-spacing: -1px;
	color: #222;
	margin-top: 80px;
}
#GOLD_section1 > p {
	margin-top: 10px;
	font-family: 'Noto_Sans_KR';
	font-size: 20px;
	letter-spacing: -1px;
	color: #222;
}
#GOLD_section1 > img {
	width: 100%;
	margin-top: 50px;	
}

#GOLD_section2 {
	width: 1000px;
	height: 1700px;
	margin: 0 auto;
	text-align: center;
}
#GOLD_section2 > h2 {
	color: #222;
	font-family: 'Poppins';
	font-size: 40px;
	letter-spacing: -1px;
	text-align: left;
	margin-top: 50px;
}

#GOLD_section2 > p {
	color: #222;
	font-size: 20px;
	font-family: 'Noto_Sans_KR';
	letter-spacing: -1px;
	margin-top: 20px;
	text-align: left;
}

#GOLD_section2 > p > span {
	display: inline-block;
	color: #999;
	font-size: 14px;
	letter-spacing: -1px;
	font-family: 'Noto_Sans_KR';
	margin-top: 10px;
}
#GOLD_section2 > img {
	width: 1000px;
	margin-top: 30px;
}

#GOLD_section2 > div.down_group2 {
	margin-top: 50px;
	display: flex;
	flex: 1 1;
}
#GOLD_section2 > div.down_group2 > img {
	width: 485px;
}
#GOLD_section2 > div.down_group2 > img:first-child {
	margin-right: 10px;
}
