@charset "UTF-8";

#info_main > form > h1 {
	color: #222;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
}
#info_main > form > table {
	margin-top: 20px;
	width: 100%;
	border-collapse: collapse;
}
#info_main > form > table > tbody > tr > th {
	background: #f8f8f8;
	width: 15%;
	height: 50px;
}
#info_main > form > table > tbody > tr:nth-child(1) > th {
	box-sizing: border-box;
	height: 120px;
}




#info_main > form > table > tbody > tr > td {
	box-sizing: border-box;
	padding-left: 20px;
}

/* 프로필 사진 */
#info_main > form > table > tbody > tr > td > img.profile {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-right: 20px;
}
#info_main > form > table > tbody > tr > td > label {
	font-size: 14px;
	color: #222;
}

#info_main > form > table > tbody > tr > td > input[type="password"],
#info_main > form > table > tbody > tr > td > input[type="email"],
#info_main > form > table > tbody > tr > td > input[type="url"] {
    width: 300px;
    height: 30px;
    border: 1px solid #ddd;
    padding-left: 10px;
    box-sizing: border-box;
}

#info_main > form > table > tbody > tr > td > input[type="email"],
#info_main > form > table > tbody > tr > td > input[type="url"] {
    width: 150px;
}
#info_main > form > table > tbody > tr > td > select#select_email {
    width: 150px;
    height: 30px;
    border: 1px solid #ddd
}
#info_main > form > table > tbody > tr > td > p.re {
    margin-left: 5px;
    margin-top: 5px;
    color: #dc143c;
    font-size: 14px;
}

/* CJ ONE 마케팅 정보 수신 동의 */
#info_main > form > table > tbody > tr > th.marketing {
	font-size: 14px;
}

#info_main > form > table > tbody > tr > td > p.txt1 {
    font-size: 15px;
    font-weight: bold;
    color: #555;
}

#info_main > form > table > tbody > tr > td > div#chkBoxs {
    margin-top: 20px;
}
#info_main > form > table > tbody > tr > td > div#chkBoxs label {
    margin-right: 20px;
}

#info_main > form > table > tbody > tr > td > p.txt2 {
    font-size: 12px;
    margin-top: 20px;
    color: #777;
    line-height: 1.8;
}

#info_main > form > table > tbody > tr > td > p.txt2 > a {
    display: inline-block;
    width: 180px;
    height: 18px;
    color: #555;
    background: url('../../images/common/arrowRight.png') no-repeat right center;
    text-decoration: underline;
}


/* 정보제공 동의여부 */
#agreeBox1,
#agreeBox2 {
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    padding-left: 10px;
    /*
    border-bottom: 1px solid #ddd;
    */
    color: #555;
    font-size: 16px;
    background-image: url(../../images/common/arrowDown.png);
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
}


#agree1,
#agree2 {
    display: none;
    width: 100%;
    height: 235px;
    box-sizing: border-box;
    padding-left: 10px;
    background: #f8f8f8;
}
#agree2 {
    height: 195px;
}
#agree1 > table,
#agree2 > table {
    display: inline-block;
    width: 580px;
    border: 0;
    border-collapse: collapse;
}

#agree1 > table > tbody > tr,
#agree1 > table > thead > tr,
#agree2 > table > tbody > tr,
#agree2 > table > thead > tr {
    border: 0;
}
#agree1 > table > thead > tr > th,
#agree2 > table > thead > tr > th {
    border: 1px solid #ddd;
    background: #fff;
    padding: 0px;
    text-align: center;
    color: #222;
    height: 50px;
}

#agree1 > table > thead > tr > th:nth-child(1) {
    width: 40%;
}
#agree1 > table > thead > tr > th:nth-child(2) {
    width: 30%;
}
#agree1 > table > thead > tr > th:nth-child(3) {
    width: 30%;
}

#agree2 > table > thead > tr > th:nth-child(1) {
    width: 25%;
}
#agree2 > table > thead > tr > th:nth-child(2) {
    width: 25%;
}
#agree2 > table > thead > tr > th:nth-child(3) {
    width: 25%;
}
#agree2 > table > thead > tr > th:nth-child(4) {
    width: 25%;
}

#agree1 > table > tbody > tr > td,
#agree2 > table > tbody > tr > td {
    border: 1px solid #ddd;
    background: #fff;
    padding: 10px;
    vertical-align: top;
    color: #555;
}
#agree1 > table > tbody > tr > td:nth-child(1) {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}
#agree1 > table > tbody > tr > td:nth-child(2) {
    font-size: 12px;
}
#agree1 > table > tbody > tr > td:nth-child(3) {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#agree2 > table > tbody > tr > td:nth-child(1) {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}
#agree2 > table > tbody > tr > td:nth-child(2) {
    font-size: 12px;
    letter-spacing: -1px;
    text-decoration: underline;
    font-weight: bold;
}
#agree2 > table > tbody > tr > td:nth-child(3) {
    font-size: 12px;
}
#agree2 > table > tbody > tr > td:nth-child(4) {
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}


#agree1 div.agree_choose,
#agree2 div.agree_choose {
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
    margin-top: 10px;
}