@charset "UTF-8";

/* my cgv 배너 */
#mycgv_banner {
	display: block;
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 10px;
}

/* my cgv 영역 배치 */
#info_area {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

/* 네비게이션 */
#info_navi {
	width: 20%;
	
	border: 1px solid #ddd;
	border-radius: 5px;

    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    
    padding: 10px 20px;
}

#info_navi > a.menu,
#info_navi > a.amenu {
	display: block;
	width: 148px;
	height: 35px;
	line-height: 35px;
	
	color: #222;
	font-weight: bold;
	font-size: 14px;
	
	
	padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#info_navi > label {
	display: block;
	width: 148px;
	height: 35px;
	line-height: 35px;
	
	color: #0123B4;
	font-weight: bold;
	font-size: 14px;
	
	padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /*
    background: url(../images/common/arrowDown.png) no-repeat 140px center;
    */
}

#info_navi > a.menu:hover {
	color: #fff;
	background: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
	transition: 0.2s;
}
#info_navi > a.amenu:hover {
	color: #fff;
	background: linear-gradient(to left, rgb(17, 150, 193), rgb(1, 35, 180));
	transition: 0.2s;
}

/* 메인 컨텐츠 */
#info_main {
	width: 78%;
	
	border: 1px solid #ddd;
	border-radius: 5px;

    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
	
	padding: 20px;
}
