@charset "UTF-8";

#login_section1 {
    width: 540px;
    height: 490px;
    margin: 0 auto;
}

#login_section1 a.btn_r, 
#login_section1 a.btn_g {
    display: inline-block;
    vertical-align: middle;

    width: 100px;
    height: 37px;
    
    line-height: 37px;
    text-align: center;
    
    color: #fff;
    background: #898987;

    font-size: 12px;
    font-weight: bold;

    margin-top: 60px;

    border-radius: 10px 10px 0px 0px;
}
#login_section1 a.btn_r {
    background: #fb4357;
}
#login_section1 p.line1 {
    width: 540px;
    height: 2px;
    background: #898987;
    margin-top: -2px;
}
#login_section1 p.line2 {
    width: 540px;
    height: 2px;
    background: #898987;
    margin-top: 40px;
}

#login_section1 h3 {
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    color: #666;
}

#login_section1 input[type="text"],
#login_section1 input[type="password"] {
    display: block;
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    background: transparent;
    border: 3px solid #b5b5b5;
    margin: 0 auto;
    margin-top: 10px;
    padding-left: 45px;
    color: #666;
}
#login_section1 input[type="text"] {
    background: url(../images/common/inputImg_login.png) no-repeat left center;
    background-position: 10px;
    margin-top: 30px;
}
#login_section1 input[type="password"] {
    background: url(../images/common/inputImg_password.png) no-repeat left center;
    background-position: 10px;
    margin-top: 10px;
}
#login_section1 button.btn_login {
    display: block;
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    background: #fb4357;
    border: 0px;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#login_section1 button.btn_login span {
    display: block;
    width: 254px;
    height: 34px;
    line-height: 34px;
    margin: 0 auto;
    border: 1px solid #fff;
}

#login_section1 div.saveBox {
    width: 260px;
    height: 30px;
    margin: 0 auto;
}
#login_section1 div.saveBox input[type="checkbox"] {
    vertical-align: middle;
}
#login_section1 div.saveBox label {
    vertical-align: middle;
    font-size: 12px;
}
#login_section1 div.saveBox a.findId {
    display: inline-block;
    vertical-align: middle;
    width: 75px;
    height: 16px;
    background: url('../images/common/arrowRight.png') no-repeat right center;
    font-size: 12px;
    color: #666;
    margin-top: 3px;
}

#login_section1 div.saveBox a.findPw {
    display: inline-block;
    vertical-align: middle;
    width: 85px;
    height: 16px;
    background: url('../images/common/arrowRight.png') no-repeat right center;
    font-size: 12px;
    color: #666;
    margin-top: 3px;
}

#login_section1 img {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}

#cjone_ad {
    width: 850px;
    height: 65px;
    border: 1px solid #d5d4ca;
    margin: 0 auto;
    margin-bottom: 55px;
    box-sizing: border-box;
    line-height: 61px;
    text-align: center;
}

#cjone_ad p.txt {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
}

#cjone_ad p.txt span {
    display: inline-block;
    margin-left: 5px;
    color: #666;
}

#cjone_ad p.btn_r {
    display: inline-block;
    vertical-align: middle;
    width: 145px;
    height: 28px;
    border: 2px solid #fb4357;
    line-height: 28px;
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    color: #fb4357;
    margin-left: 10px;
    cursor: pointer;
}
#cjone_ad p.line {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 28px;
    background: #d5d4ca;
    margin-left: 10px;
    margin-right: 10px;
}
#cjone_ad p.btn_b {
    display: inline-block;
    vertical-align: middle;
    width: 145px;
    height: 28px;
    border: 2px solid #333333;
    line-height: 28px;
    font-size: 13px;
    letter-spacing: -1px;
    font-weight: bold;
    text-align: center;
    color: #333;
    cursor: pointer;
}