@charset "UTF-8";

#moviechart_section {
    width: 1000px;
    margin: 0 auto;
}

#moviechart_section div.moviechart_nav {
    box-sizing: border-box;
    border-bottom: 3px solid #000;
    margin-top: 30px;
    padding-bottom: 10px;
}

#moviechart_section div.moviechart_nav h1 {
    display: inline-block;
    vertical-align: middle;
    width: 800px;
    height: 40px;
    line-height: 40px;
    font-size: 34px;
    letter-spacing: -1px;
}


#moviechart_section div.moviechart_nowshow {
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

#moviechart_section div.moviechart_nowshow input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-top: 12px;
}
#moviechart_section div.moviechart_nowshow label[for="chk_nowshow"] {
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    width: 860px;
    color: #555;
    font-size: 14px;
    letter-spacing: -1px;
}

#moviechart_section div.moviechart_nowshow select.sel_nowshow {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid #ddd;
    color: #555;
}
#moviechart_section div.moviechart_nowshow button.btn_nowshow {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 2px solid #7b7b7b;
    color: #7b7b7b;
    font-weight: bold;
}


#moviechart_section div.moviechart_nav a.top_menu1,
#moviechart_section div.moviechart_nav a.top_menu2 {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    padding-left: 13px;
    /*
    background: url(../images/ico_arrow07.png) no-repeat left center;
    color: #fb4357;
    */
    background: none;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: -1px;
}
#moviechart_section div.moviechart_nav a.top_menu1 {
    background: url(../images/ico_arrow07.png) no-repeat left center;
    color: #fb4357;
}
#moviechart_section div.moviechart_nav a.top_menu1:hover,
#moviechart_section div.moviechart_nav a.top_menu2:hover {
    background: url(../images/ico_arrow07.png) no-repeat left center;
    color: #fb4357;
}

#moviechart_section div.movies {
    margin-top: 40px;
}

#moviechart_section ul.movieBox {
    display: inline-block;
    width: 20%;
    height: 425px;
    margin-right: 50px;
}
#moviechart_section ul.movieBox:nth-child(4n) {
    margin-right: 0px;
}

#moviechart_section ul.movieBox li.movieNo {
    background: #fb4357;
    width: 100%;
    height: 28px;
    font-size: 19px;
    letter-spacing: -1px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#moviechart_section ul.movieBox li.movieImg {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 260px;
    background:#fff;
    overflow: hidden;
}
#moviechart_section ul.movieBox li.movieImg img {
    width: 200px;
    height: auto;
}

#moviechart_section ul.movieBox li.movieTit {
    width: 100%;
    height: 26px;
    line-height: 26px;
    font-weight: bold;

    font-size: 18px;
    letter-spacing: -1px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


#moviechart_section ul.movieBox li.moviePercent {
    width: 100%;
    height: 24px;

    color: #666;
    letter-spacing: -1px;
}

#moviechart_section ul.movieBox li.moviePercent span.percent1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
}

#moviechart_section ul.movieBox li.moviePercent span.percent2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 5px;
}

#moviechart_section ul.movieBox li.moviePercent span.percent3 {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
}
#moviechart_section ul.movieBox li.moviePercent span.line {
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0px 5px;
}

#moviechart_section ul.movieBox li.moviePercent > img {
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    margin: 0;
    padding: 0;
}

#moviechart_section ul.movieBox li.movieOpen {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    letter-spacing: -1px;
    color: #666;
    font-weight: bold;
}

#moviechart_section ul.movieBox li.moviebtn {
    width: 100%;
    height: 25px;
}

#moviechart_section ul.movieBox li.moviebtn button.btn_ticketing {
    width: 100px;
    height: 25px;
    background: #fb4357;
    color: #fff;
    border: 0;
    border-radius: 5px;
}